.card{
    background-color: rgb(25, 24, 34);
    color: white;

}
.card-body{
    text-align: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn{
    background-color: rgb(25, 24, 34);
}